.col-xs-1.col-xs-pull-10
  = link_to "Previous: #{prev_title}", "../#{slugify(prev_title)}/", class: "banner-previous", title: prev_title, "data-toggle" => "tooltip", "data-placement" => "right"
.col-xs-1
  = link_to "Next: #{next_title}", "../#{slugify(next_title)}/", class: "banner-next", title: next_title, "data-toggle" => "tooltip", "data-placement" => "left"
