= link_to "Previous: #{prev_title}", "../#{slugify(prev_title)}/", class: "previous-project", title: prev_title, "data-toggle" => "tooltip", "data-placement" => "right"
= link_to "Next: #{next_title}", "../#{slugify(next_title)}/", class: "next-project", title: next_title, "data-toggle" => "tooltip", "data-placement" => "left"
