!!! 5
%html{ lang: "en-gb" }
  = partial "partials/shared/head"
  %body{ id: current_page.data.slug }
    = partial "partials/shared/navbar"
    = yield
    = partial "partials/shared/footer"
    = partial "partials/shared/javascripts"
