%article.post.row{ id: post.slug }
  .col-sm-9.col-sm-push-3
    %h1
      - if current_article
        = post.title
      - else
        = link_to post.title, post.url
    - #squiggle fixes whitespace in code blocks (similar to =)
    ~ post.body

  %footer.col-sm-3.col-sm-pull-9
    %dl
      %dt Posted
      %dd.pubdate{ "data-icon" => "calendar" }
        %time{ title: post.date, datetime: post.date.iso8601, pubdate: "pubdate" }
          = post.date.strftime("#{post.date.day.ordinalize} %B, %Y")

      %dt Tags
      %dd
        %ul.tags
          - post.tags.sort.each do |tag|
            %li= link_to tag, tag_path(tag)

      - if post.next_article
        %dt
          Next
          = fa("chevron-right")
        %dd= link_to post.next_article.title, post.next_article.url, rel: "next"

      - if post.previous_article
        %dt
          = fa("chevron-left")
          Previous
        %dd= link_to post.previous_article.title, post.previous_article.url, rel: "prev"
