---
slug: contact
---

%section
  .container
    .row
      .col-sm-offset-3.col-sm-6
        %h1 Get in touch
        :kramdown
          If you have any questions or a project you would like to talk to us about, drop us an email using the form below. We'll do our best to get back to you the same day.

    .row
      .col-sm-12
        = form_tag "//forms.brace.io/hello@terracoding.com", method: :post, class: "form-horizontal" do
          = hidden_field_tag "_next", value: "http://www.terracoding.com/contact/thanks/"
          .form-group
            = label_tag :name, class: "control-label col-sm-3"
            .col-sm-6
              = text_field_tag :name, required: true, class: "form-control", autofocus: true
          .form-group
            = label_tag :email, class: "control-label col-sm-3"
            .col-sm-6
              = email_field_tag :email, required: true, name: "_replyto", class: "form-control"
          .form-group
            = label_tag :telephone, class: "control-label col-sm-3"
            .col-sm-6
              = telephone_field_tag :telephone, class: "form-control"
          .form-group
            = label_tag :company, class: "control-label col-sm-3"
            .col-sm-6
              = text_field_tag :company, class: "form-control"
          .form-group
            = label_tag :message, caption: "How can we help you?", class: "control-label col-sm-3"
            .col-sm-6
              = text_area_tag :message, required: true, rows: "8", class: "form-control"
          .form-group.hidden
            = label_tag :first_name, caption: "Please don't type anything in here"
            = text_field_tag :first_name, class: "form-control"
          .form-group
            .col-sm-offset-3.col-sm-6
              = submit_tag "Send", class: "btn btn-default pull-right"
