---
layout: page
slug: employment-hero
title: Employment Hero
---

= partial "work/header", locals: { title: "Employment Hero" }

%section
  .container
    .row
      .col-sm-6
        %h2.sr-only About The Project
        :kramdown
          In 2010, Australian HR firm [Employment Innovations](https://employmentinnovations.com) asked Terracoding to build their vision of the future of HR consulting.

          Over three years, [Employment Hero](http://www.employmenthero.com/) evolved into a fully-fledged employment management system, helping business-owners navigate the complexities of employment law, payroll and human resource services.
      .col-sm-6
        = image_tag "work/employment-hero/device-screenshot.png", alt: "Screenshot", class: "img-responsive"

%section
  .container
    .row
      .col-sm-6.col-sm-push-6
        %h2
          = iconic("transfer")
          Third-party Integration
        :kramdown
          A major selling point of Employment Hero is its integration with industry-leading accounting software [Xero](http://www.xero.com/). Using Xero's #{define("API")}, we let employers not only import and export data between the two systems but setup automatic syncing between them.

          Employee files, leave requests and payslips are kept up-to-date across EH and Xero making the transition from one product to the other seamless.
      .col-sm-6.col-sm-pull-6
        = image_tag "work/employment-hero/screenshot-2.jpg", alt: "Screenshot", class: "img-responsive img-thumbnail"

%section
  .container
    .row
      .col-sm-6
        %h2
          = iconic("thumb")
          Handover
        :kramdown
          Looking back at the first lines of code, we're proud of how far Employment Hero has come. We planned each new feature carefully and dedicated ourselves to doing things the right way.

          As a result, when it came time to transition EH to an internal team, we were confident they wouldn't run into maintenance problems. By walking the new developers through the code-base we ensured EH would continue to flourish without us.
      .col-sm-6
        = image_tag "work/employment-hero/screenshot-3.jpg", alt: "Screenshot", class: "img-responsive img-thumbnail"
