---
layout: page
slug: hello-sunday-morning
title: Hello Sunday Morning
---

- app_url = "https://itunes.apple.com/app/hsm/id961582035"

= partial "work/header", locals: { title: "Hello Sunday Morning" }

%section
  .container
    .row
      .col-sm-6
        %h2.sr-only About The Project
        :kramdown
          [Hello Sunday Morning](http://www.hellosundaymorning.org/) is an online community working towards a better drinking culture. Since 2010, tens of thousands have signed up to go 3 months or more without alcohol and blog about their experience.

          Users share thoughts, photos and goals, and support each other in changing their relationship with alcohol. They can follow friends and earn rewards for contributing.

          HSM approached us to manage the website and build an [iPhone app](#{app_url}) to help people track their drinking and take on drink-free challenges.
      .col-sm-6
        = image_tag "work/hello-sunday-morning/device-screenshot.png", alt: "Screenshot", class: "img-responsive"

%section
  .container
    .row
      .col-sm-6.col-sm-push-6
        %h2
          = iconic("iphone")
          iPhone App

        :kramdown
          HSM wanted to help people track their drinking habits on the go. Together, we designed and built an app that suggests fun challenges to reduce alcohol consumption along with data visualisations on how your health is improving as a result.

          Users can leave comments and tips on their favourite challenges, share what they are doing on their profile and check in each week with how things have been going.

        %p
          = link_to app_url, class: "btn-download" do
            = image_tag "app-store.png", height: 55, width: 165, class: "img-rounded", alt: "Available on the App Store"
      .col-sm-6.col-sm-pull-6.text-center
        = image_tag "work/hello-sunday-morning/iphones.png", alt: "HSM on iPhone", width: 290

%section
  .container
    .row
      .col-sm-6
        %h2
          = iconic("wrench")
          Web Platform Engineering
        :kramdown
          After inheriting the website from a previous team, we started with stability, improving #{define("test coverage")} and performance for the thousands of people already relying on the service. With the site experiencing prolonged periods of high traffic, we were able to improve uptime and make a lot of the data processing done behind the scenes more efficient.

          Next, it was on to implementing user-requested features like private messaging and premium subscriptions. We wrote a system to handle payment transactions, allowing HSMers to pay a small amount monthly and unlock extra features.
      .col-sm-6
        = image_tag "work/hello-sunday-morning/screenshot-3.jpg", alt: "Screenshot", class: "img-responsive img-thumbnail"
