---
layout: page
slug: hello-sunday-morning
---

= partial "work/header", locals: { title: "Hello Sunday Morning" }

%section
  .container
    .row
      .col-sm-6
        %h2.sr-only About The Project
        :kramdown
          [Hello Sunday Morning](http://www.hellosundaymorning.org/) is an online community working towards a better drinking culture. Since 2010, tens of thousands have signed up to go 3 months or more without alcohol and blog about their experience.

          Users share thoughts, photos and goals, and support each other in changing their relationship with alcohol. They can follow friends and earn rewards for contributing.

          HSM approached us to take over their existing Ruby code-base, bring it up to scratch and drive the next stage of development.
      .col-sm-6
        = image_tag "work/hello-sunday-morning/device-screenshot.png", alt: "Screenshot", class: "img-responsive"

%section
  .container
    .row
      .col-sm-6.col-sm-push-6
        %h2
          = iconic("wrench")
          Platform Engineering
        :kramdown
          We started with  stability, improving #{define("test coverage")} and performance for the thousands of people already relying on the service. With the site experiencing prolonged periods of high traffic, we were able to improve uptime and make a lot of the data processing done behind the scenes more efficient.

          Next, it was on to implementing user-requested features like private messaging and premium subscriptions. We wrote a system to handle payment transactions, allowing HSMers to pay a small amount monthly and unlock extra features.
      .col-sm-6.col-sm-pull-6
        = image_tag "work/hello-sunday-morning/screenshot-2.jpg", alt: "Screenshot", class: "img-responsive img-thumbnail"

%section
  .container
    .row
      .col-sm-6
        %h2
          = iconic("people")
          Social Strategy
        :kramdown
          Working on a platform with such a thriving community is a challenge and a privilege. We're always looking to the future with the HSM team, advising them on how best to satisfy users and the technical feasibility of requested features.

          We utilise [Mixpanel](https://mixpanel.com/) to give HSM a valuable insight into user activity. Data collected throughout the site helps guide changes to the interface and flags up popular user-generated content for the HSM staff to feature.

          With lots of ideas for the website and plans for Terracoding to bring HSM to the iPhone, we're excited to continue helping the community to grow and make a difference.
      .col-sm-6
        = image_tag "work/hello-sunday-morning/screenshot-3.jpg", alt: "Screenshot", class: "img-responsive img-thumbnail"
