---
layout: page
slug: medtronic
---

= partial "work/header", locals: { title: "Medtronic" }

%section
  .container
    .row
      .col-sm-6
        %h2.sr-only About The Project
        :kramdown
          [Medtronic](http://www.medtronic.com/) is one of the world's leading medical device companies, providing devices and therapies to treat more than 30 chronic diseases, including heart failure, Parkinson's disease, down syndrome and spinal disorders.

          We partnered with [obii.mobi](http://obii.mobi/) to produce an iPad app for the Fortune 500 company, digitising their surgical implements catalogue and simplifying tool choice for a wide range of procedures.
      .col-sm-6
        = image_tag "work/medtronic/device-screenshot.png", alt: "Screenshot", class: "img-responsive"

%section
  .container
    .row
      .col-sm-6.col-sm-push-6
        %h2
          = iconic("tablet")
          User Interface
        :kramdown
          Provided mockups by obii.mobi, we turned Medtronic's dream of a intuitive, dynamic tool catalogue into a reality.

          By crafting custom interface elements and animations to suit the content, we were able to present the entirety of Medtronic's instrument range through easily browsable menus.

          Now surgeons can quickly select tools and see attachments drop in with details and measurements.
      .col-sm-6.col-sm-pull-6
        = image_tag "work/medtronic/screenshot-2.jpg", alt: "Screenshot", class: "img-responsive img-thumbnail"

%section
  .container
    .row
      .col-sm-6
        %h2
          = iconic("spreadsheet")
          Data Handling
        :kramdown
          With a huge selection of tools and attachment combinations for hundreds of procedures, working closely with Medtronic was vital to ensure data for the app was complete and accurate.

          We gave Medtronic the freedom to provide us with data in the format that made sense to them, before carefully importing it into the application on our end.

          The result was a comprehensive app with data Medtronic trusted to be correct.
      .col-sm-6
        = image_tag "work/medtronic/screenshot-3.jpg", alt: "Screenshot", class: "img-responsive img-thumbnail"
