---
layout: page
slug: sprintly
alias : sprintly/
---

= partial "work/header", locals: { title: "Sprintly" }

%section.intro
  .container
    :kramdown
      At Terracoding we use [Sprintly](http://sprint.ly/) to keep on top of our tasks every day. We built these tools to make our lives even easier. Enjoy!

%section
  .container
    .row
      .col-sm-8
        .row
          .col-xs-3.col-sm-3.col-md-2.icon
            = image_tag "work/sprintly/sprinter.png", class: "img-responsive", alt: "Sprinter icon"

          .col-xs-9.col-sm-9.col-md-10
            %h1
              Sprinter for iPhone
            :kramdown
              Manage your Sprintly products on the go with Sprinter for iPhone and iPad.

      .col-sm-4
        = link_to "https://itunes.apple.com/us/app/sprinter-for-iphone/id568151529", class: "btn-download" do
          = image_tag "work/sprintly/app-store.png", height: 55, width: 165, class: "img-rounded", alt: "Available on the App Store"

    .row
      .col-sm-12
        %iframe{src: "http://player.vimeo.com/video/70181603?portrait=0&byline=0&title=0", width: 1049, height: 720, frameborder: 0, allowFullScreen: true}

%section
  .container
    .row
      .col-sm-8
        .row
          .col-xs-3.col-sm-3.col-md-2.icon
            = image_tag "work/sprintly/sprintly-for-alfred.png", class: "img-responsive", alt: "Sprintly for Alfred icon"

          .col-xs-9.col-sm-9.col-md-10
            %h1
              Sprintly for Alfred
            :kramdown
              Add, list, start and finish Sprintly items easily with our workflow for [Alfred](http://www.alfredapp.com/).

      .col-sm-4
        = link_to "Download Workflow", "https://github.com/samrayner/Sprintly-for-Alfred/releases/download/v1.0.5/Sprintly.alfredworkflow", class: "btn btn-default btn-download"

    .row
      .col-sm-12
        %iframe{src: "http://player.vimeo.com/video/70181604?portrait=0&byline=0&title=0", width: 1280, height: 800, frameborder: 0, allowFullScreen: true}

%section
  .container
    .row
      .col-sm-8
        .row
          .col-xs-3.col-sm-3.col-md-2.icon
            = image_tag "work/sprintly/sly.png", class: "img-responsive", alt: "Sly icon"

          .col-xs-9.col-sm-9.col-md-10
            %h1
              Sly
            :kramdown
              Control your products without leaving Terminal with our Sprintly CLI.

      .col-sm-4
        = link_to "Download Sly", "https://github.com/Haar/Sprintly-Terminal/archive/master.zip", class: "btn btn-default btn-download"

    .row
      .col-sm-12
        %iframe{src: "http://player.vimeo.com/video/70181605?portrait=0&byline=0&title=0", width: 960, height: 540, frameborder: 0, allowFullScreen: true}
