---
slug: home
---

%section#testimonials
  %h1.sr-only Testimonials
  .container
    #testimonials.row
      #testimonials-slideshow.col-sm-10
        = partial "shared/testimonial", locals: { name: "Pratibha Rai", organisation: "The New Agency", quote: "The Terracoding guys are some of the most switched-on developers I've had the pleasure of working with. Not only are they really efficient and thorough, they're engaged and contribute valuable insights to product and business discussions. These guys are the full package and I'm really excited at the opportunity to work with them as we take our product to the next level." }

        = partial "shared/testimonial", locals: { name: "Jim May", organisation: "Sportaroo", quote: "The Terracoding boys have talent! They have a knack for getting things executed quickly yet with discipline and an eye for quality. It's a good feeling to know your app is as well designed under the hood as it is on the surface." }

        = partial "shared/testimonial", locals: { name: "Dave Tong", organisation: "Employment Hero", quote: "You'd be a fool not to consider the Terracoding guys for your next development project! They will always be the first guys I call. They get the job done without any hassle due to their key strengths of being great communicators as well as solid software engineers." }

        = partial "shared/testimonial", locals: { name: "Bruno Mattarollo", organisation: "Waysact", quote: "The guys from Terracoding are amazing polyglot developers. They are genuine, talented and fun to work with." }

      #testimonials-action.col-sm-2
        %p Looking to build a Web or mobile app?
        = link_to "Get in touch", "/contact/", class: "btn btn-default"

%section#services
  %h1.sr-only Our Services
  .container
    .row
      .col-sm-6
        :markdown
          We work closely with businesses in Australia and the UK to improve customer experience, increase sales, and simplify and automate their work with great software.

        %ul
          %li.service-design   Design
          %li.service-web      Web Apps
          %li.service-mobile   Mobile Apps
          %li.service-training Training

        = link_to "View case studies and more about our services", "/services/", class: "btn btn-default"

      .col-sm-6
        Image of iPhone
