---
layout: page
slug: about-us
---

%section#testimonials.hidden-xs
  %h1.sr-only Testimonials
  .container
    .row
      .col-sm-9
        #testimonials-carousel.carousel.slide{ data: { ride: "carousel", interval: 12000 }}
          %ol.carousel-indicators
            - data.testimonials.each do |i, t|
              - i = i.to_i
              %li{ class: "#{'active' if i == 0}", data: { target: "#testimonials-carousel", "slide-to" => i }}

          .carousel-inner
            - data.testimonials.each do |i, t|
              - i = i.to_i
              %div{ class: "item #{'active' if i == 0}" }
                = partial "index/testimonial", locals: { testimonial: t }

      #testimonials-action.col-sm-3
        %p Looking to build a Web or mobile app?
        = link_to "Get in touch", "/contact/", class: "btn btn-inverse"

%section#services
  %h1.sr-only Our Services
  .container
    .row
      .col-sm-6
        :kramdown
          We work closely with businesses in Australia and the UK to improve customer experience, increase sales, and simplify and automate their work with great software.

        %ul.row
          %li.service-design.col-sm-3.col-xs-6
            = iconic("pencil", modify: "fluid")
            Design
          %li.service-web.col-sm-3.col-xs-6
            = iconic("monitor", modify: "fluid")
            Web Apps
          %li.service-mobile.col-sm-3.col-xs-6
            = iconic("tablet", modify: "fluid")
            Mobile Apps
          %li.service-training.col-sm-3.col-xs-6
            = iconic("medal", modify: "fluid")
            Training

        = link_to "Case studies and more about our services", "/work/", class: "btn btn-default"

      .service-image.col-sm-6.hidden-xs
        = image_tag "/images/devices.png", width:"618", height:"328"

%section#about
  %h1.sr-only About Us
  .container
    .row
      #team.col-sm-6
        %h2 The Team
        %ul.row
          - ["robert", "dominic", "sam"].each do |name|
            = partial "index/team_member", locals: { username: name, member: data.team.send(name) }

      #history.col-sm-6
        %h2 About Terracoding
        :kramdown
          Terracoding is based in Sheffield and Manchester, UK. We’ve been working with clients internationally since 2011, advising on development strategy, designing interfaces users enjoy and writing fast, dependable code.

          We value testing and like to work in an #{define("Agile")} way, iterating on an idea with the client to produce the best solution.

%section#partners
  .container
    %h1 Clients &amp; Partners
    %ul#partner-logos
      - data.partners.each do |name, url|
        %li
          = link_to url do
            = image_tag "/images/partners/#{slugify(name)}.png", alt: name
