---
layout: page
slug: about-us
title: Digital agency in Sheffield, UK building web and mobile apps
---

%section#testimonials.hidden-xs
  %h1.sr-only Testimonials
  .container
    .row
      .col-sm-9
        #testimonials-carousel.carousel.slide{ data: { ride: "carousel", interval: 12000 }}
          %ol.carousel-indicators
            - data.testimonials.each do |i, t|
              - i = i.to_i
              %li{ class: "#{'active' if i == 0}", data: { target: "#testimonials-carousel", "slide-to" => i }}

          .carousel-inner
            - data.testimonials.each do |i, t|
              - i = i.to_i
              %div{ class: "item #{'active' if i == 0}" }
                = partial "index/testimonial", locals: { testimonial: t }

      #testimonials-action.col-sm-3
        %p Interested in a Web or mobile app?
        %p
          %span.tel 0114 212 7030
          = link_to "Email us", "/contact/", class: "btn btn-inverse"

%section#blog
  .container
    %h1 Latest from the blog
    - post = blog.articles.first
    %h2= link_to post.title, post.url

%section#services
  %h1.sr-only Our Services
  .container
    .row.gutters-none
      #intro.col-sm-6
        :kramdown
          Terracoding is a digital agency based in Sheffield. We work closely with businesses in the UK and Australia to improve customer experience, increase sales, and streamline work with great software.

        .row.gutters-xs
          .col-md-6.col-sm-7
            = link_to "More on our services", "/work/", class: "btn btn-default btn-full-width"
          .col-md-6.col-sm-5.pad-above-xs
            = link_to "Get in touch", "/contact/", class: "btn btn-default btn-full-width"

      .col-sm-6.hidden-xs
        .services-image
          = retina_image_tag "devices.png", width:"618", height:"328", class: "img-responsive"

%section#case-studies
  .container
    %h1 Recent Work
    = partial "shared/case_studies"

%section#about
  %h1.sr-only About Us
  .container
    .row
      #team.col-sm-6
        %h2 The Team
        %ul.row
          - ["dominic", "robert", "sam"].each do |name|
            = partial "index/team_member", locals: { username: name, member: data.team.send(name) }

      #history.col-sm-6
        %h2 About Terracoding
        :kramdown
          Terracoding has been working with clients internationally since 2011, advising on development strategy, designing interfaces users enjoy and writing fast, dependable code.

          We value testing and like to work in an #{define("Agile")} way, iterating on an idea with the client to produce the best solution.

          For a free consultation about a technical problem your business is facing or an app idea you've had, #{link_to "get in touch", "/contact/"}!

%section#partners
  .container
    %h1 Clients &amp; Partners
    %ul#partner-logos
      - data.partners.each do |name, url|
        %li
          = link_to url, target: "_blank" do
            = retina_image_tag "partners/#{slugify(name)}.png", alt: name
