%li{ itemscope: true, itemtype: "http://www.schema.org/Person" }
  %img{ itemprop: "image", src: "/images/team/#{username}.jpg", alt: member.name, class: "img-circle" }
  %h1{ itemprop: "name" }= member.name
  %p{ itemprop: "jobTitle"}= member.job_title

  %ul.person-links
    %li= mail_to html_obfuscate(member.email, true), "Email", title: "Email", itemprop: "email"
    %li= link_to "Blog", member.blog_url
    %li= link_to "Twitter", "https://twitter.com/#{member.twitter}"
    %li= link_to "LinkedIn", member.linkedin_url
    - if member.dribbble
      %li= link_to "Dribbble", "http://dribbble.com/#{member.dribbble}"
