%li{ itemscope: true, itemtype: "http://www.schema.org/Person", class: "col-sm-4" }
  = retina_image_tag "team/#{username}.jpg", itemprop: "image", alt: member.name, class: "img-circle img-responsive"
  %h3{ itemprop: "name" }= member.name
  %p{ itemprop: "jobTitle"}= member.job_title

  %ul.person-links
    %li= link_to "Blog", member.blog_url, class: "fa fa-home"
    %li= link_to "Twitter", "https://twitter.com/#{member.twitter}", class: "fa fa-twitter"
    %li= link_to "LinkedIn", member.linkedin_url, class: "fa fa-linkedin"
    - if member.dribbble
      %li= link_to "Dribbble", "http://dribbble.com/#{member.dribbble}", class: "fa fa-dribbble"
